@model IEnumerable<moveis_planejados.Models.Funcionario>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Lista de Funcionários</h1>
    <a class="btn btn-primary" asp-action="Create">+ Funcionário</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusFuncionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusFuncionario)
                </td>
                <td class="btn-group btn-group-toggle">
                    <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.FuncionarioId">Editar</a>
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.FuncionarioId">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.FuncionarioId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
