@model IEnumerable<moveis_planejados.Models.Movel>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Catálogo de Móveis</h1>
    <a class="btn btn-primary" asp-action="Create">+ Móvel</a>
</div>

<div class="row align-items-center">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="@Html.DisplayFor(modelItem => item.Imagem)" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.Nome)</h5>

                    <div class="btn-group btn-group-toggle">
                        <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.MovelId">Editar</a>
                        <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.MovelId">Detalhes</a>
                        <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.MovelId">Excluir</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>