@model IEnumerable<moveis_planejados.Models.Venda>

@{
    ViewData["Title"] = "Index";
}

<div class="d-flex align-items-center justify-content-between">
    <h1>Relação das Vendas</h1>
    <a class="btn btn-primary" asp-action="Create">+ Venda</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Valor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StatusVenda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Movel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Funcionario)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    R$ @Html.DisplayFor(modelItem => item.Valor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StatusVenda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Movel.MovelId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Funcionario.FuncionarioId)
                </td>
                <td class="btn-group btn-group-toggle">
                    @if (item.StatusVenda != "Entregue")
                    {
                        <a class="btn btn-secondary btn-sm" asp-action="Edit" asp-route-id="@item.VendaId">Editar</a>
                    }
                    <a class="btn btn-primary btn-sm" asp-action="Details" asp-route-id="@item.VendaId">Detalhes</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.VendaId">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
