@model IEnumerable<loja_chocolates.Models.Chocolate>

@{
    ViewData["Title"] = "Chocolates Gourmet";
}

<h1> @ViewData["Title"] </h1>

<p>
    <a asp-action="Create">Cadastrar novo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PorcentagemCacau)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataValidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Marca)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PorcentagemCacau)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Tipo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataValidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ChocolateId" class="btn btn-secondary">Edit</a>
                    <a asp-action="Details" asp-route-id="@item.ChocolateId" class="btn btn-primary">Details</a>
                    <a asp-action="Delete" asp-route-id="@item.ChocolateId" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
